@font-face {
    font-family: OswaldFont;
    src: url("../assets/Oswald-VariableFont_wght.ttf");
}

@font-face {
    font-family: EspecialEliteFont;
    src: url("../assets/SpecialElite-Regular.ttf");
}

@font-face {
    font-family: RobotoFont;
    src: url("../assets/Roboto-Regular.ttf");
}


.message-box{
    font-family: "RobotoFont", sans-serif;
    font-size: 10px;
    font-weight: 100;

    /*background-color: #D0B49F;*/

    text-align: center;

    /*min-height: 10em;*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/

    color: black;

    background-color: #D0B49F;

    height: 100%;

    padding: 20px 5px;

    overflow: hidden;
}