
@font-face {
    font-family: OswaldFont;
    src: url("../assets/Oswald-VariableFont_wght.ttf");
}

@font-face {
    font-family: EspecialEliteFont;
    src: url("../assets/SpecialElite-Regular.ttf");
}

