
.pattern-container{
    margin-left: 32px;
}

.cursor-container{
    height: 10px;
}

.matcher-container{
    background-color: #F8B195;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 3px;
    min-height: 103px;

    /* Center */
    width: fit-content;
    margin: 20px auto;
}