* {
  margin: 0;
  padding: 0;
}

.App{
  min-height: 100vh;
  min-width: 100vw;
}

html, body, #root{
  min-height: 100vh;
}

.matcher-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #D0B49F;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-radius: 3px;
  min-height: 103px;
}